{% extends 'base.html' %} 

{% block head %}
<title>{{title}} Page</title>
{% endblock %} 

{% block body %} 
<main class="content">
    <h1>{{title}}</h1>
    <form method="POST" action="{{url}}">
        <div style="margin: 10px;">
            <label for="username">Username: </label>
            <input type="text" name="username" id="username">
        </div>
        <div style="margin: 10px;">
            <label for="password">Password: </label>
            <input type="password" name="password" id="password">
        </div>
        <button type="submit">Submit</button>
    </form>
</main>
{% endblock %}


{% block scripts %} 
{% endblock %}
